<mat-card>
<img [src]="object.volumeInfo.imageLinks.thumbnail"/>
<div *ngIf="status!=false">
        <a mat-raised-button style="background-color:red" (click)="addToCart(object)">Add to collection</a>
</div>
    <mat-card-title>
        <p>
        {{object.volumeInfo.title}}
        </p>
    </mat-card-title>
    <mat-card-subtitle>
        <div *ngIf="object.volumeInfo.subtitle!== undefined; else empty">  
            <p>{{object.volumeInfo.subtitle}}</p>
        </div>
        <div><ng-template #empty>
        <p><em>No subtitle</em></p>
        </ng-template></div>
    </mat-card-subtitle>
    <mat-card-content>
        <div *ngIf="object.volumeInfo.authors!== undefined; else emptyAuthors">
            <p>
                {{object.volumeInfo.authors}}
            </p>
        </div>
        <div>
            <ng-template #emptyAuthors>
                <p><em>No authors</em></p>
            </ng-template>
        </div>
        <div *ngIf="object.volumeInfo.publisher!== undefined; else emptyPublisher">
            <p>
                {{object.volumeInfo.publisher}}
            </p>
        </div>
        <div>
            <ng-template #emptyPublisher>
                <p><em>No publisher</em></p>
            </ng-template>
        </div>
        <div *ngIf="object.volumeInfo.publishedDate!== undefined; else emptyPublishedDate">
            <p>
                {{object.volumeInfo.publishedDate}}
            </p>
        </div>
        <div>
            <ng-template #emptyPublishedDate>
                <p><em>No published date</em></p>
            </ng-template>
        </div>
        <div *ngIf="object.volumeInfo.description!== undefined; else emptyDescription">
            <p>
                {{object.volumeInfo.description}}
            </p>
        </div>
        <div>
            <ng-template #emptyDescription>
                <p><em>No description</em></p>
            </ng-template>
        </div>
        <div *ngIf="object.volumeInfo.pageCount!== undefined; else emptyPageCount">
            <p>
                {{object.volumeInfo.pageCount}} pages
            </p>
        </div>
        <div>
            <ng-template #emptyPageCount>
                <p><em>No pages information</em></p>
            </ng-template>
        </div>
        <div *ngIf="object.saleInfo!== undefined; else emptyListPrice">
            <p style="color:red">
                <strong>{{object.saleInfo.listPrice.amount}} NIS</strong>
            </p>
        </div>
        <div>
            <ng-template #emptyListPrice>
                <p><em>No price information</em></p>
            </ng-template>
        </div>
    </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button (click)="backToList()">Back to list</a>
        </mat-card-actions>
</mat-card>