mat-toolbar{
    background-color: white;
    margin-top: -10%;
}
mat-toolbar-row{
    display: -webkit-box;
    -webkit-box-pack: center;
}
a {
    background-color: royalblue;
    color: white;
}