div.books {
    display: inline-block;
    margin-left: 6%;
    list-style: none;
    vertical-align: top;
}
mat-form-field{
    width:50%;
}
button{
    margin-top: 5px;
    margin-bottom: 40px;
    margin-left: 25%;
    background-color: purple;
    color: white;
}
a{
    margin-left: 10px;
    background-color: royalblue;
    color: white; 
}
mat-card{
    background-color: whitesmoke;
}