html, body{
    height: 100%;
}
header{
    position: relative;
    min-height: 100%;
}
main {
    margin: 150px 150px 150px 150px;
    height: 100%;
}
footer{
    position:absolute;
    height: 40px;
    width: 100%;
    margin: 20px;
    margin-top: 40%;
}