<div class="mat-app-background basic-container">
  <mat-horizontal-stepper [linear]="isLinear"  #stepper="matHorizontalStepper" >
    <mat-step>
        <ng-template matStepLabel>Register</ng-template>
        <form [formGroup]="formGroup">
              <label for="firstName">FirstName:</label>
                <input name="firstName" formControlName="registerNameValid" placeholder="First Name" >
             
              <p>
                  <app-validation-errors [checkErrors]="formGroup.controls['registerNameValid']"></app-validation-errors>
              </p>


              <label for="lastName">LastName: </label>
                <input name="lastName" formControlName="registerLastNameValid" placeholder="Last Name" >
            
              <p>
                  <app-validation-errors [checkErrors]="formGroup.controls['registerLastNameValid']"></app-validation-errors>
              </p>


              <label for="password">Password: </label>
                <input name="password" formControlName="password" placeholder="********" >
             
              <p>
                  <app-validation-errors [checkErrors]="formGroup.controls['password']"></app-validation-errors>
              </p>


              <label for="age">Age:</label>
                <input name="age" formControlName="ageValid" placeholder="Age" >
              
              <p>
                  <app-validation-errors [checkErrors]="formGroup.controls['ageValid']"></app-validation-errors>
              </p>
      </form>
              <div>
                  <button mat-button matStepperNext>Next</button>
              </div>
      </mat-step>
      <mat-step>
          <form>
            <ng-template matStepLabel> Choose your country </ng-template>
              <p style="margin-left:15%">
                Country:
              </p>
              <div *ngIf="countryList?.length">
                <app-dropdown></app-dropdown>
            </div>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
          <p>
              Registration Completed!
          </p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div> 


