<table align="center">
    <tr>
        <th>
          Diameter
        </th>
        <th>
          Slices
        </th>
        <th>
          Toppings
        </th>
        <th>
          Price
        </th>
      </tr>
      <tr *ngFor="let item of pizzas">
        <td>
          {{item.diameter + ' cm'}}
        </td>
        <td>
          {{item.slices}}
        </td>
        <td>
          {{item.toppings}}
        </td>
        <td>
          {{item.price | currency:'USD': true}}
        </td>
      </tr>
  </table>
