/* img {
    height: 50px;
    float: right;
    display: block;
    margin: 15px;
}

span {
    float: right;
    display: block;
}

button {
    border-radius: 5px;
    background-color: crimson;
    color: white;
    height: 30px;
    padding: 15px, 15px, 15px, 15px;
    margin-right: 1.5%;
    margin-left: 1%
}
*/
img {
    height: 50px;
    display: inline-block;
    margin-left: 20px;
}

.example-icon {
    padding: 0 14px;
  }
  
  .spacer {
    flex: 1;
  }

  .mat-toolbar{
    height: 100px;
    padding: 30px;
  }
  a {
      background-color: royalblue;
      color: white;
  }